[submodule "warp"]
	path = warp
	url = https://github.com/wago-org/warp
	branch = wago
[submodule "tests/spec"]
	path = tests/spec
	url = https://github.com/WebAssembly/testsuite
[submodule "tests/wasi"]
	path = tests/wasi
	url = https://github.com/WebAssembly/wasi-testsuite
	branch = prod/testsuite-base
[submodule "wasm3"]
	path = wasm3
	url = https://github.com/wasm3/wasm3.git
[submodule "plugins/wasi"]
	path = plugins/wasi
	url = https://github.com/wago-org/wasi.git
