[submodule "tests/conformance/spec-v1"]
	path = tests/conformance/spec-v1
	url = https://github.com/WebAssembly/testsuite
[submodule "tests/conformance/spec-v2"]
	path = tests/conformance/spec-v2
	url = https://github.com/WebAssembly/spec
[submodule "tests/conformance/spec-v3"]
	path = tests/conformance/spec-v3
	url = https://github.com/WebAssembly/spec
